<h2>Login</h2>
<form method="POST" action="/login">
    <div class="field">
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>

    <div class="field">
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>
    {{#if messages.length}}
    <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
    </ul>
    {{/if}}
    <div class="field">
        <button type="submit">Login</button>
    </div>
</form>