<h2>Sign up</h2>
<form method="POST" action="/auth/signup" class="uk-form-stacked">
    <div class="uk-margin">
        <input type="email" placeholder="Email" name="email" class="uk-input uk-form-blank uk-form-width-medium" required>
        <input type="password" placeholder="Password" name="password" class="uk-input uk-form-blank uk-form-width-medium" required>
    </div>

    {{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>{{ sessionFlash.messageTitle }}</h3>
        <p>{{ sessionFlash.message }}</p>
    </div>
    {{/if}}
    <div class="field">
        <button class="uk-button uk-button-primary" type="submit">Signup</button>
    </div>
</form>