.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 50px;  
}

#menu {
    background-color: $primary;
}

.uk-logo, .uk-navbar-toggle, #logged, #menu-navbar, .navbar-link {
    color: $secondary !important;
}

#map{
    text-align: left;
    margin: 0 5%;
}

.fab {
    font-size: 40px;
    color: $primary;
}

.job-item {
  background-color:$jobbox;  
  margin: 2px;
  width: 100%;  
  text-align: center;  
}

.job-list-titles {
  font-weight: 800;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#tm-footer {
  background-color: $primary;
  color: $secondary;
  padding: 2vh;

  a {
    color: $secondary;
  }
}

.itunned {
  vertical-align: middle;
  margin: 0 5vw;
}