body {  
  text-align: center;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 1vh;
}

h3 {  
  font-size: 1.1em;
  font-weight: 600;
}

.uk-card{
    h3{
        font-size: 1.5rem;
        line-height: 1.4;
        font-weight: 400;
    }
}