<footer id="tm-footer" class="tm-footer tm-footer-margin-top">
    <div class="uk-panel uk-panel-space uk-text-center">
        <div class="uk-panel">
            <ul class="uk-subnav uk-subnav-line uk-flex-center">
                <li class="uk-active"><a href="/">Home</a></li>
                <li><a href="#">Knowledge</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="uk-panel">
            <div>Copyright © <script>document.write((new Date()).getFullYear());</script> Skywalker Company | All Rights Reserved.</div>
            <div>This is a Ironhack module 2 project made by Nuria Balaguer and Rafa Gallego</div>
        </div>
    </div>
</footer>