{{!-- <li class="container">
  <div class="job-item job-list-titles">Offer title</div>
  <div class="job-item job-list-titles">Company name</div>
  <div class="job-item job-list-titles">Type</div>
  <div class="job-item job-list-titles">Description</div>
  <div class="job-item job-list-titles">Salary</div>
  <div class="job-item job-list-titles">Journey type</div>
  <div class="job-item job-list-titles">Vacancies</div>
  <div class="job-item job-list-titles">Created by</div>        
</li> --}}
