<div class="uk-flex uk-flex-center">
    <a class="uk-button uk-button-default uk-button-primary uk-margin-left" href="/jobs/{{id}}/edit">Edit</a>
    <form action="/jobs/{{id}}/delete" method="POST" class="uk-margin-left">
        <button class="uk-button uk-button-default uk-button-danger" type="submit">Delete</button>
    </form>
</div>

