<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Facehack</a>        
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-navbar-item"> <a href="/auth/signup">Sign up</a> </li>
          <li class="uk-navbar-item"> <a href="/auth/login">Login</a> </li>
          <li class="uk-navbar-item"> <form action="/auth/logout" method="POST"> <button type="submit" class="uk-button uk-button-default">Logout</button> </form> </li>
        </ul>
    </div>    
</nav>