<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Facehack</a>        
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
             {{#if currentUser}}
                <li class="uk-navbar-item"><p>Logged: {{currentUser.email}}</p></li>
                <li class="uk-navbar-item"> <form action="/auth/logout" method="POST"> <button type="submit" class="uk-button uk-button-default">Logout</button> </form> </li>
            {{else}}
                <li class="uk-navbar-item"> <a href="/auth/signup">Sign up</a> </li>
                <li class="uk-navbar-item"> <a href="/auth/login">Login</a> </li>
            {{/if}}
          
        </ul>
    </div>    
</nav>