<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>navbar}}
    {{{body}}}
    <script src="/uikit/js/uikit.min.js"></script>
    <script src="/uikit/js/uikit-icons.min.js"></script>
  </body>
</html>
