<h2>Create a new job</h2>
<form action="/jobs/create" method="post" class="uk-grid-small" uk-grid>
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Title:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" class="uk-input uk-form-width-medium" type="text" name="title" value="">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Company:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" class="uk-input uk-form-width-medium" type="text" name="company" value="">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Type:</label>
        <select name="type">
            <option value="webdev">Web development</option>
            <option value="ux-ui">UX/UI design</option>
        </select>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Description:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" class="uk-input uk-form-width-medium" type="text" name="description" value="">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Salary:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" class="uk-input uk-form-width-medium" type="number" name="salary" value="">
        </div>
    </div>
    
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Journey type:</label>
        <select name="journeyType">
            <option value="part-time">Part-time</option>
            <option value="full-time">Full-time</option>
        </select>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Vacancies:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" class="uk-input uk-form-width-medium" type="number" name="vacancies" value="">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl uk-margin-top uk-margin-bottom" uk-margin>
        <button class="uk-button uk-button-default uk-button-primary" type="submit">Create</button>
    </div>
</form>